CodeFest24/CodeFest24/obj/Debug/
CodeFest24/CodeFest24/bin/
CodeFest24/.vs/CodeFest24/v17/
CodeFest24/Compotitor/bin/
CodeFest24/Compotitor/obj/
CodeFest24/.vs/CodeFest24/FileContentIndex/
CodeFest24/.vs/CodeFest24/DesignTimeBuild/.dtbcache.v2
CodeFest24/.vs/
